body{
    margin: 0;
    overflow: hidden;
}

.carte{
    position: absolute;
    font-size: 24px;
    z-index: 2;
    color:#1D1D1B;
    top: 3%;
    left: 5%;
    display: none;
    grid-template-columns: 1fr 1fr;
    background: #FDCB46;
    margin-bottom: 10%;
    width:90%;
    margin-right:5%;
    padding-bottom: 1%;
}

img{
    margin-top:2%;
    margin-left: 2%;
    width: 90%;
    height: 90%;
}

.close{
    background: #1D1D1B;
    color:#FDCB46;
    margin-left: 50%;
    margin-right: 40%;
    padding: 0.5%;
}

.texte{
    padding-right: 5%;
}

@media screen and (max-device-width: 1700px){
    .carte{
        font-size: 17px;
    }
}